.form {
  width: 70%;
  background: white;
  padding: 24px;
  margin: 0 auto;
  font-family: 'Barlow Condensed', sans-serif;
}

.total-price-display {
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 20px;
}
