// Import page-specific CSS files here.
@import "home";
@import "show";

.filter-bar {
    margin-top: 20px;
    justify-content: flex-end;
    border-bottom: .75px solid black;
}

.filterselect {
    margin-left: 20px;

}

.garmentcard {
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    border: none;
    margin-bottom: 16px;
}

.index {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75%
}

.garmentimage {
    border-radius: 8px;
    display: block;
    width: 100%;
    left: 0px;
    top: 0px;
}

.garmenttext {
    padding: 8px;
}
