
p  {
    font-family: 'Barlow Condensed', sans-serif;
}

 h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
  }

h3 {
    font-family: 'Barlow Condensed';
    font-size: 18px;
    padding: 8px 0px;
}

h1 {
    font-family: 'Barlow Condensed';
    font-weight: 700;
}

h3 {
    font-family: 'Barlow Condensed';
    font-weight: 600;
}

a {
    font-family: 'Barlow Condensed';
    font-size: 18px;
    font-color: black;
    margin: 0px;
}

.garmentimage {
    display: block;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 8px 8px 8px 8px;
    background-size: cover;
    background-position: center;
    padding: 50%;
    height: auto;
}

.col-container {
    display: table;
    width: 100%
}

.detailsboxshow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px;
}

.boxshade {
    background-color: rgba(1,1,1,.05);
    border-radius: 8px;
}

.showcard {
    background-color: white;
    width: 100%;
    display: flex;
    padding: 0px;
    border-radius: 8px;
}

.showbutton {
    width: 100%;
    margin-top: 8px;
}
