
p  {
    font-family: 'Barlow Condensed', sans-serif;
}

 h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
    margin-bottom: 0px
  }

h3 {
    font-family: 'Barlow Condensed';
    font-size: 18px;
    margin-bottom: 0px

}

h1 {
    font-family: 'Barlow Condensed';
    font-weight: 700;
}

h3 {
    font-family: 'Barlow Condensed';
    font-weight: 600;
}

a {
    font-family: 'Barlow Condensed';
    font-size: 18px;
    color: #167FFB;
    margin: 0px;
}

.boxshade {

}

.carousel-item {
    height: 100%;
}

.col-container {
    display: table;
    width: 100%
}

.detailsboxshow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px;
}


.garmentimage {
    display: block;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 8px 8px 8px 8px;
    background-size: cover;
    background-position: center;
    padding: 50%;
    height: auto;
}

.modal-header {
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30%;
}

.showbutton {
    width: 100%;
    margin-top: 8px;
}

.showcard {
    background-color: rgba(1, 1, 1, 0.0);
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    border-radius: 8px;
    justify-content: space-between;
}

.show-image {
    height: 100%;
    object-fit: cover;
}