.navbar-lewagon {
  justify-content: space-between;
  background: $light-gray;
  box-shadow: 1px 1px 6px lightgrey;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800;
  font-size: 20px;

  .active {

  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  height: 64px;
}

a:hover {
  cursor: pointer;
}

.show {

}

.navbar {
  padding: .75rem 4rem;
}