<h1 class="header"> New </h1>
<%= simple_form_for [@booking, @review] do |f| %>
  <div class="container">
    <%= f.input :content, label: 'Write Your Review' %>
    <%= f.input :rating, :collection => [1, 2, 3, 4, 5], label: 'Rating 0-5' %>
    <%= f.submit %>
    <% end %>
  </div>
